[package]
name = "kurbo"
version = "0.8.0"
authors = ["Raph Levien <raph.levien@gmail.com>"]
license = "MIT/Apache-2.0"
edition = "2018"
keywords = ["graphics", "curve", "curves", "bezier", "geometry"]
repository = "https://github.com/linebender/kurbo"
description = "A 2D curves library"
readme = "README.md"
categories = ["graphics"]

[features]
std = ["arrayvec/std"]
default = ["std"]

[package.metadata.docs.rs]
features = ["std", "mint", "serde"]

[dependencies]
arrayvec = { version = "0.5.1", default-features = false }
libm = "0.2.1"

[dependencies.mint]
version = "0.5.1"
optional = true

[dependencies.serde]
version = "1.0.105"
optional = true
features = ["derive"]

# This is used for research but not really needed; maybe refactor.
[dev-dependencies]
rand = "0.7.2"
